/* about me section styling */
.about-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.about-section h1 {
    font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.5rem; 
}
.about-section h2 {
    font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1.5rem; 
}
.about-section p {
    font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.5rem; 
}
  .my-img {
    width: 30%;
    height: auto;
    margin: 20px;
}
.img-thumbnail {
    background-color: #cacaca;
}

/* Adapt padding and font size for mobile screen */
@media (max-width: 768px) {
    .about-section {
        padding-top: 15rem;
        padding-bottom: 15rem;
    }
    .about-section h1 {
      font-size: 2rem;
    }
    .about-section h2 {
        font-size: 1.5rem;
    }
    .about-section p {
        font-size: 1rem;
    }
}