/* Contact me section styling */
.contact-section {
    padding-top: 5rem;
    padding-bottom:5rem;
}
.contact-section h1 {
    font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.5rem; 
}
.contact-section .card {
    border: 1;
    margin-bottom: 15px;
    border-bottom: 0.25rem solid #a16469;
}
.contact-section .card h4 {
    font-size: 1rem;
    font-family: 'Fira Sans Condensed', sans-serif, Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
.contact-section .card hr {
    border-color:  #a16469;
    border-width: 0.25rem;
  
}
/* Adapting font size for mobile screen */
@media (max-width: 768px) {
    .contact-section h1 {
      font-size: 2rem;
    }
}