/* Homepage styling */
.Homepage {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.Homepage h1 {
    font-family:'Lobster', cursive, Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    line-height: 2.5rem; 
}
.Homepage h3 {
    font-family: 'Slabo 27px', serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2.5rem; 
    margin-top: 20px;
}
/* icons styling */
.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  
.social-icons li {
    display: inline-block;
    padding: 10px 30px;
}
.fab {
    color :black;
}

/* Adapting font size for mobile screen */
@media (max-width: 768px) {
    .Homepage h1 {
      font-size: 2.5rem;
    }
    .Homepage h3 {
        font-size: 1.5rem;
    }
}